/* estilos - popup */
.newlogin-modal--container .modal-inner-wrap {
    max-width: 600px;
}

.newlogin-modal--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newlogin-modal--title h2 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 26px;
    font-weight: 400;
}

.newlogin-modal--alert {
    width: 90%;
    margin: 20px auto;
    margin-bottom: 40px;
    background-color: #e9e9e9;
    padding: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.newlogin-modal--actions {
    display: flex;
    align-items: center;
    justify-content: center;
/*     height: 300px; */
}

.newlogin-modal--actions > div {
    padding: 25px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    width: 100%;
    margin: 0 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newlogin-modal--action-login .action-login {
    background-color: #bb0606 !important;
}

.newlogin-modal--action-register .action-register {
    background-color: #bb0606 !important;
}

.newlogin-modal--actions .action {
    border-radius: 0 !important;
    width: 175px;
    text-align: center;
}

.newlogin-modal--actions .action span {
    font-size: 16px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    .newlogin-modal--container {
        left: 0 !important;
        width: 85%;
        height: 90%;
        margin: auto;
    }
    .newlogin-modal--actions {
        flex-direction: column;
    }
    .newlogin-modal--title h2 {
        margin-bottom: 30px;
    }
    .newlogin-modal--title p {
        text-align: center;
    }
    .newlogin-modal {
        padding-top: 20px;
    }
    .newlogin-modal--container .modal-content {
        padding-left: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .newlogin-modal--actions > div {
        width: 70% !important;
        max-width: 200px;
        margin-bottom: 30px;
    }
    .newlogin-modal--alert  {
        margin: 30px auto;
    }
}

/* .newlogin-modal--alert::before {
    content: "\f175";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-family: 'summa-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
} */

/* .newlogin-modal--alert span {
    padding-left: 10px;
}
 */
