<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\ForgotPasswordPost" type="BalloonGroup\Customer\Controller\Account\ForgotPasswordPost" />
    <preference for="Magento\Customer\Controller\Account\ResetPasswordPost" type="BalloonGroup\Customer\Controller\Account\ResetPasswordPost" />
</config>
