<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xsi:noNamespaceSchemaLocation='urn:magento:framework/Event/etc/events.xsd'>
    <event name="customer_save_before">
        <observer name="lyracons_customeractivation_customer_admin_save_before" instance="Lyracons\CustomerActivation\Observer\Customer\AdminSaveBefore"/>
    </event>
    <event name="customer_save_after">
        <observer name="lyracons_customeractivation_customer_admin_save_after" instance="Lyracons\CustomerActivation\Observer\Customer\AdminSaveAfter"/>
    </event>
</config>
