<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer name="summa_set_external_shipping_id" instance="SummaSolutions\WebShopAppsMatrixRate\Observer\SalesOrderPlaceBefore" shared="false" />
    </event>
</config>
