<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="balloongroup" translate="label" sortOrder="100">
            <label>Balloon Group</label>
        </tab> -->
        <section id="newlogin" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Login/ Sign Up Popup</label>
            <tab>balloongroup</tab>
            <resource>BalloonGroup_NewLogin::newlogin_config</resource>
            <group id="newlogin" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Setting</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Login/Sign up popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delay</label>
                </field>
            </group>
        </section>
    </system>
</config>