<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newsletter_modal>
            <general>
                <active>0</active>
                <cookis>89000</cookis>
            </general>
        </newsletter_modal>
    </default>
</config>
