<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="Lyracons_CustomerActivation::customerAccountCreatePost" type="Lyracons\CustomerActivation\Plugin\Customer\Account\CreatePost" sortOrder="1"  />
    </type>
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="Lyracons_CustomerActivation::customerAccountLoginPost" type="Lyracons\CustomerActivation\Plugin\Customer\Account\LoginPost" sortOrder="1"  />
    </type>
    <type name="Magento\Customer\Controller\Account\Confirm">
        <plugin name="Lyracons_CustomerActivation::customerAccountActivationActivation" type="Lyracons\CustomerActivation\Plugin\Customer\Account\LoginPost" sortOrder="1"  />
    </type>
</config>
