<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
       <preference for="Codazon\ThemeOptions\Framework\App\Action\Action\Plugin" type="BalloonGroup\CodazonThemeOptions\Framework\App\Action\Action\Plugin" />
</config>