<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Lyracons. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <icommkt>
            <general>
                <enabled>1</enabled>
                <apiurl>https://api.icommarketing.com/Contacts/SaveContact.Json/</apiurl>
                <apikey>MTEyNi0yNTU5LW1hc2NvdGFfdXNy0</apikey>
                <profilekey>MTU4Mzk20</profilekey>
                <log>0</log>
                <!-- logfile>lyracons-icommkt.log</logfile -->
            </general>
        </icommkt>
    </default>
</config>
