<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codazon\MegaMenu\Helper\Category" type="Gpf\MegaMenuImagenes\Helper\Category" />
    <preference for="Codazon\MegaMenu\Block\Widget\CategoriesTree" type="Gpf\MegaMenuImagenes\Block\Widget\CategoriesTree" />
</config>
