<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Gpf_MegaMenuImagenes" setup_version="1.0.0">
        <sequence>
            <module name="Codazon_MegaMenu"/>
            <module name="Codazon_Core" />
        </sequence>
    </module>
</config>
