<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="WeltPixel\NavigationLinks\Block\Html\Topmenu">
        <plugin name="top_menu" type="BalloonGroup\NewTopMenuMobile\Plugin\TopMenuPlugin"/>
    </type>
</config>